.curriculum-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1.25rem;
    max-width: 1200px;
    margin: 0 auto;
}


@media (min-width: 768px) {
    .curriculum-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
.week, .highlights, .roles, .join-us, .navigation {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
}


.week, .highlights, .roles, .join-us, .navigation:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

  h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
  padding-left: 20px;
}

li {
  margin-bottom: 0.5rem;
}

h1, h2 {
  color: #2c3e50;
}

join-us h2, .join-us p {
  text-align: center;
}

.navigation nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navigation nav ul li {
  margin: 0 10px;
}

.navigation nav ul li a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
}


  