@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-watcher-light{
    background-color: linear-gradient(to right, #2ecfe1, #96c93d);
  }
  
  .scroll-watcher-dark{
    background-color: linear-gradient(to right #ff7700, #9c00c3);
  }
  
  
  .scroll-watcher-light, .scroll-watcher-dark {
    height: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: linear;
    animation-timeline: scroll(y);
    scale: 0, 1;
    transform-origin: left;
  } 