@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your tailwind.css or another CSS file */
.modal-enter-active {
    transform: translateY(0);
    opacity: 1;
  }
  
  .modal-exit-active {
    transform: translateY(4);
    opacity: 0;
  }
  