@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes countdown {
    from { width: 100%; }
    to { width: 0%; }   
  }
  
  /* Light Mode Styles */
  .toast-light {
    background-color: #fff;
    color: #000;
  }
  
  .toast-light::after{
    background-color: linear-gradient(to right, #00b09b, #96c93d);
  }
  
  /* Dark Mode Styles */
  .toast-dark {
    background-color: #333;
    color: #fff;
  }
  
  .toast-dark::after{
    background-color: linear-gradient(to right #ff7700, #9c00c3);
  }

  /* Countdown Bar */
  .toast-light::after, .toast-dark::after {
    content: '';
    display: block;
    height: 5px;
    animation: countdown 2s linear forwards;
  }
  